html {
  font-size: 10px;
}

h2 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px #008394;
  font-family: Ephesis, Arial, sans-serif;
  margin-bottom: -0.7em;
}

ul, ol, dl {
  font-size: 2rem;
  width: 60%;
  box-shadow: 4px 4px 4px #008394;
  border: 3px solid #190075;
  text-shadow: 3px 3px 3px white,
    2px 2px 2px black;
}

li {
  font-family: Pacifico, Arial, sans-serif;
  list-style-type: none;
  line-height: 1.5;
  padding-left: 2rem;
  margin-left: -1.5em;
  background-image: url("image/estrella.png");
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

dd, dt {
  font-family: Pacifico, Arial, sans-serif;
  line-height: 1.5;
  padding-left: 2rem;
  background-image: url("image/estrella.png");
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

dt {
  font-weight: bold;
  padding-left: 2rem;
  background-image: url("image/flecha.png");
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}